@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-blog{
    padding-top: 88px;
    padding-bottom: 100px;
    background-color: $color-secondary;

    &__title{
        margin-bottom: 42px;
    }
}