@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-intro{
    position: relative;
    padding-right: 60px;

    &::before{
        content: "";
        display: inline-block;
        width: pc_vw(765);
        height: pc_vw(1155);
        background-image: url(../../../images/home/illus-tree@2x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-57%);
        z-index: 10;
    }

    @media screen and (max-width: 1350px){
        padding-right: 130px;
    }

    @media screen and (max-width: 781px){
        padding-right: 7.2vw;
    }

    @include respond(phone){
        &__concept{
            font-size: calc((31/410) * 100vw) !important;
        }
        &::before{
            background-image: url(../../../images/home/illus-tree-sp@2x.png);
            width: sp_vw(331);
            height: sp_vw(470);
            transform: translateY(-52%);
        }
    }
}