@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-mv{
    position: relative;
    width: 100%;
    min-height: 700px;
    height: 100dvh;
    background-image: url(../../../images/home/mv.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__logo{
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -45%);
    }

    @include respond(phone){
        background-image: url(../../../images/home/mv-sp.jpg);

        &__logo{
            width: calc((270/414) * 100vw);
            transform: translate(-50%, -60%);
        }
    }


}