@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-swiper{
    height: 650px;
    width: 100%;
    position: relative;

    &__wrapper, &__slide, picture {
        height: 100% !important;
        width: 100% !important;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &.\--top {
            object-position: top;
        }
        &.\--center {
            object-position: center;
        }
    }

    @include respond(big-desktop) {
        height: 730px;
    }

    @include respond(tab-land) {
        height: auto;
        aspect-ratio: 1366/700;
    }

    @include respond(phone) {
        aspect-ratio: 1/1;
        
        &__img{
            object-position: top;
        }
    }
}