<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../inc/_head', { site: site, page: pages.company, basePath: '../' }) %>
    <link rel="stylesheet" href="../assets/css/project/blog/style.css">
</head>

<body>
  <%- include('../inc/_header', { basePath: '../' }) %>
    <main class="l-main --underlayer">
      <div class="c-mv p-mv">
        <div class="c-mv__title">
          <h1 class="c-mv__title-text">スタッフブログ</h1>
        </div>
      </div>
      <div class="p-content">
        <div class="l-container">
          <div class="c-heading-secondary p-heading-secondary">
            <img src="../assets/images/logo-green-dark.png" alt="" width="137" height="140">
            <h2 class="c-heading-secondary__text --green">ブログ一覧</h2>
          </div>
          <div class="c-blog">
            <article class="c-blog__card">
              <a href="news/single.html" class="c-blog__link">
                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
              </a>
              <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
              <div class="c-blog__content">
                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
              </div>
              <a href="news/single.html" class="c-blog__link">
                <p class="c-blog__more">>>続きを読む</p>
              </a>
            </article>
            <article class="c-blog__card">
              <a href="news/single.html" class="c-blog__link">
                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
              </a>
              <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
              <div class="c-blog__content">
                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
              </div>
              <a href="news/single.html" class="c-blog__link">
                <p class="c-blog__more">>>続きを読む</p>
              </a>
            </article>
            <article class="c-blog__card">
              <a href="news/single.html" class="c-blog__link">
                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
              </a>
              <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
              <div class="c-blog__content">
                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
              </div>
              <a href="news/single.html" class="c-blog__link">
                <p class="c-blog__more">>>続きを読む</p>
              </a>
            </article>
            <article class="c-blog__card">
              <a href="news/single.html" class="c-blog__link">
                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
              </a>
              <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
              <div class="c-blog__content">
                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
              </div>
              <a href="news/single.html" class="c-blog__link">
                <p class="c-blog__more">>>続きを読む</p>
              </a>
            </article>
            <article class="c-blog__card">
              <a href="news/single.html" class="c-blog__link">
                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
              </a>
              <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
              <div class="c-blog__content">
                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
              </div>
              <a href="news/single.html" class="c-blog__link">
                <p class="c-blog__more">>>続きを読む</p>
              </a>
            </article>
            <article class="c-blog__card">
              <a href="news/single.html" class="c-blog__link">
                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
              </a>
              <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
              <div class="c-blog__content">
                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
              </div>
              <a href="news/single.html" class="c-blog__link">
                <p class="c-blog__more">>>続きを読む</p>
              </a>
            </article>
          </div>
          <nav class="c-pagination --secondary" aria-label="ページ送り">
            <div class="nav-links">
              <a class="prev page-numbers" href="#"><img src="../assets/images/common/pagination_before.svg" alt=""></a>
              <a class="page-numbers" href="#">1</a>
              <a class="page-numbers" href="#">2</a>
              <span aria-current="page" class="page-numbers current">3</span>
              <a class="page-numbers" href="#">4</a>
              <span class="page-numbers dots">&hellip;</span>
              <a class="page-numbers" href="#">6</a>
              <a class="next page-numbers" href="#"><img src="../assets/images/common/pagination_next.svg" alt=""></a>
              <a class="next page-numbers" href="#"><img src="../assets/images/common/pagination_last.svg" alt=""></a>
            </div>
          </nav>

        </div>
      </div>


    </main>

    <%- include('../inc/_footer', { basePath: '../' }) %>
</body>