@charset "utf-8";

@use "../../foundation/base" as *;
@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;


.p-mv{
    background-image: url(../../../images/concept/mv@2x.jpg);


    @include respond(phone){
        background-image: url(../../../images/concept/mv-sp@2x.jpg);
    }
}

.p-section-nav{
    background-color: $color-primary-light;
    padding-block: 32px;

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary-dark;
        font-size: $font-medium;
        font-weight: 600;
        letter-spacing: 0.06em;
        column-gap: 2em;

        >li {
            &::before {
                content: "▷";
                display: inline-block;
                font-size: 0.5em;
                vertical-align: middle;
                transform: translateY(-5%);
                margin-right: 0.4em;
            }
        }
    }

    @include respond(phone){
        padding-top: 17px;
        padding-bottom: 15px;

        &__list{
            display: grid;
            grid-template-columns: auto;
            margin-inline: calc((5/414) * 100%);
            font-size: min(calc((14/380) * 100vw), 14px);
            column-gap: calc((30/414) * 100vw);

            >li:first-child{
                grid-column: 1/2;
                grid-row: 1/2;
            }
            >li:nth-child(2){
                grid-column: 1/2;
                grid-row: 2/3;
            }
            >li:nth-child(3){
                grid-column: 3/4;
                grid-row: 1/2;
            }
            >li:last-child{
                grid-column: 3/4;
                grid-row: 2/2;
            }
        }
    }
}