<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../inc/_head', { site: site, page: pages.company, basePath: '../' }) %>
    <link rel="stylesheet" href="../assets/css/project/menu/style.css">
</head>

<body>
  <%- include('../inc/_header', { basePath: '../' }) %>
    <main class="l-main l-main--underlayer">
      <div class="c-mv p-mv">
        <div class="c-mv__title">
          <h1 class="c-mv__title-text">診療案内</h1>
        </div>
      </div>
      <nav aria-label="ページ内ナビゲーション" class="p-section-nav">
        <div class="l-container">
          <ul class="p-section-nav__list">
            <li class="p-section-nav__item-sub">
              <a href="#feature">予防医療<span class="u-pc">：</span><span class="u-sp">4種</span></a>
              <ul class="p-section-nav__sublist">
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">予防接種（混合ワクチン）</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">狂犬病予防接種</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">フィラリア予防</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">ノミ・マダニ予防</a></li>
            </ul>
            </li>
            <li><a href="#about">健康診断</a></li>
            <li><a href="#about">去勢避妊手術</a></li>
            <li><a href="#about">セカンドオピニオン</a></li>
            <li class="p-section-nav__item-sub"><a href="#about">診療科紹介<span class="u-pc">：</span><span class="u-sp">9種</span></a>
              <ul class="p-section-nav__sublist">
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">整形外科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">呼吸器・循環器科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">消化器科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">腎臓・泌尿器科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">歯科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">眼科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">皮膚科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">腫瘍科</a></li>
                <li class="p-section-nav__subitem"><a href="#" class="p-section-nav__sublink">神経科</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>



    </main>

    <%- include('../inc/_footer', { basePath: '../' }) %>
</body>

</html>