@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

button.l-hamburger {
    margin-top: 25px;
    width: 44.5px;
    height: 47px;
    transition: all .3s ease-in-out;
    position: relative;
    background-color: transparent !important;
    border: none !important;

    &:hover{
        border: none !important;
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 44.5px;
        height: 47px;
        background-image: url(../images/ham_icon.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    // &[aria-expanded="true"]{
    //     .l-hamburger__line {
    //         background-color: transparent;

    //         &::before {
    //             transform: translateY(-3.2px) rotate(45deg);
    //             transform-origin: left top;
    //             background-color: $color-white;
    //         }
    
    //         &::after {
    //             width: 100%;
    //             transform:translateY(3.2px)  rotate(-45deg);
    //             transform-origin: left bottom;
    //             background-color: $color-white;
    //         }
    
    //     }

    //     img{
    //         display: none;
    //     }
    // }

    @include respond(phone){
        margin-top: 0;
        width: 35px;
        height: 37px;

        &::after{
            width: 35px;
            height: 37px;
        }
    }

}

.l-header.--sticky,
.l-header.--fixed{
    .l-hamburger{
        &::after{
            background-image: url(../images/ham_icon-b.svg);
        }
    }
}
.l-drawerNav-wrapper{
    position: fixed;
    z-index: 1500;
    top: 0;
    right: 0;
    max-width: 0;
    height: max-content;
    background-color: $color-white;
    overflow: hidden;
    transition: max-width 0.3s;
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    background-color: $color-primary-dark;
    height: 100dvh;

    &.is-active {
        max-width: 264px;
        overflow-y: scroll;
    }

    &__title{
        width: 100%;
        height: 43px;
        background-image: url(../images/drawer_bg-menu.jpg);
        background-color: $color-primary-dark;
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 22px;
        display: flex;
        align-items: center;
        img{
            width: 52px;
        }
    }

    &__bottom{
        padding-block: 28px;
        padding-left: 23px;
    }

    &__open{
        width: 188px;
        margin-bottom: 15px;
    }
    &__logo{
        margin-bottom: 18px;
    }
    &__tel{
        display: flex;
        align-items: center;
        color: $color-white;
        font-size: rem(22);
        gap: 12px;
        white-space: nowrap;
    }
}

.l-drawerNav {
    width: 264px;
    background-color: $color-primary-dark;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        list-style-type: none !important;
        padding-left: 0 !important;
    }

    &__item>a,
    &__subitem>a{
        color: $color-white;
        font-size: rem(17);
        width: 100%;
        height: 48px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }

    &__item{
        >a{
            background-image: url(../images/drawer_bg-item.jpg);
            padding-left: 22px;
        }
    }

    &__subitem {
        >a{
            background-image: url(../images/drawer_bg-subitem.jpg);
            padding-left: 43px;

            &::before{
                content: "▷";
                font-size: 0.6em;
                margin-right: 1em;
            }
        }


        &[aria-expanded='true']::after {
            transform: rotate(225deg);
            transform-origin: 50% 80%;
        }

    }

    &__sublist {
        max-height: 0px;
        max-height: none; //一旦表示
        overflow: hidden;
        font-size: 1.8rem;
        transition: all .3s;
        list-style-type: none !important;
        padding-left: 0 !important;

        &[aria-hidden='false'] {
            max-height: 150px;
        }
    }
}

.l-drawerBackground {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 0%;
    height: 100%;

    &.is-active {
        width: 100%;
    }
}