@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

button.l-hamburger {
    margin-top: 25px;
    width: 44.5px;
    height: 47px;
    transition: all .3s ease-in-out;
    position: relative;
    background-color: transparent !important;
    border: none !important;

    &:hover{
        border: none !important;
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 44.5px;
        height: 47px;
        background-image: url(../images/common/ham_icon.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    @include respond(phone){
        margin-top: 0;
        width: sp_vw(35);
        height: sp_vw(37);  
        &::after{
            width: sp_vw(35);
            height: sp_vw(37);
        }
    }

}

.l-drawerNav-wrapper{
    position: fixed;
    z-index: 1500;
    top: 0;
    right: 0%;
    transform: translateX(100%);
    height: max-content;
    background-color: $color-white;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    height: 100dvh;
    max-width: 264px;

    &.is-active {
        overflow-y: scroll;
        right: 0;
        transform: translateX(0);
    }

    &__header{
        width: 100%;
        padding-top: 21px;
        padding-bottom: 16px;
        font-size: rem(20);
        letter-spacing: 0.06em;
        padding-inline: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1;
    }

    &__bottom{
        padding-block: 28px;
        padding-left: 22px;
        padding-right: 18px;
        font-weight: 500;
    }

    &__note{
        font-size: rem(14);
        line-height: calc(24/14);
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    &__tel{
        display: flex;
        align-items: center;
        color: $color-blue-dark;
        font-size: rem(18);
        gap: 8px;
        white-space: nowrap;
    }
    &__book{
        display: flex;
        align-items: center;
        color: $color-blue-dark;
        font-size: rem(15);
        gap: 6px;
        white-space: nowrap;
        margin-bottom: 30px;
        padding-left: 3px;
    }
    &__logo{
        width: 174px;
    }
}

.l-drawerNav {

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        list-style-type: none !important;
        padding-left: 0 !important;
    }

    &__item>a,
    &__subitem>a{
        font-size: rem(16);
        letter-spacing: 0.02em;
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
    }

    &__item{
        >a{
            padding-left: 22px;
            color: $color-white;
        }

        &.\--green{
            background-color: $color-green;
        }

        &.\--blue{
            background-color: $color-blue-dark;
        }

        &.\--orange{
            background-color: $color-orange-dark;
        }

        &.\--pink{
            background-color: $color-pink;
        }
    }

    &__subitem {
        >a{
            padding-left: calc(22px + 1em);
            color: #231815;

            &::before{
                content: "▷";
                font-size: 0.6em;
                margin-right: 1em;
            }
        }


        &[aria-expanded='true']::after {
            transform: rotate(225deg);
            transform-origin: 50% 80%;
        }

    }

    &__sublist {
        max-height: 0px;
        max-height: none; //一旦表示
        overflow: hidden;
        font-size: 1.8rem;
        transition: all .3s;
        list-style-type: none !important;
        padding-left: 0 !important;

        &[aria-hidden='false'] {
            max-height: 150px;
        }

        &.\--green{
            background-color: $color-green-light;
        }

        &.\--blue{
            background-color: $color-blue-light;
        }

        &.\--orange{
            background-color: $color-orange-light;
        }
    }
}

.l-drawerBackground {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 0%;
    height: 100%;

    &.is-active {
        width: 100%;
    }
}