@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

.l-footer {
    background-color: $color-white;
    padding-block: pc_vw(40);

    &.\--border{
        border-top: 1px solid #999999;
    }

    &__inner {
        // max-width: 1425px;
        width: 100%;
        margin-inline: auto;
        padding-left: pc_vw(73);
        padding-right: pc_vw(57);
        display: flex;
        justify-content: space-between;
    }

    &__info {
        margin-bottom: pc_vw(30);

        >* {
            display: block;
        }

        &-ja {
            width: 208px;
            margin-bottom:10px;

            img {
                display: block;
            }
        }

        &-en {
            width: 179px;
            margin-bottom: 10px;

            img {
                display: block;
            }
        }

        &-group {
            font-size: rem(14);
            letter-spacing: 0.02em;
            line-height: 1;
            color: $color-blue-dark;
            margin-bottom: 28px;
        }
    }

    &__nav {
        &-item {
            font-size: rem(16);
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #333333;

            &:not(:last-child){
                margin-bottom: calc(12px + var(--lending-trim));
            }
        }
    }

    &__right{
        color: #333333;
        display: flex;
        flex-direction: column;
    }

    &__contact{
        padding-right: 8px;
    }

    &__phone {
        margin-bottom: 9px;

        &-text {
            font-size: rem(16);
            line-height: 1;
            letter-spacing: 0.02em;
            margin-bottom: 10px;
        }

        &-number {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: rem(20);
            line-height: 1;
            letter-spacing: 0.04em;
            font-weight: 500;

            img {
                width: 26px;
                height: auto;
            }
        }
    }

    &__book {
        margin-bottom: 34px;

        &-link {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: rem(18);
            line-height: 1;
            letter-spacing: 0.1em;
            font-weight: 500;
            padding-left: 3px;

            img {
                width: 32px;
                height: auto;
            }
        }
    }

    &__group-logo {
        text-align: right;
        img{
            width: 103px;
        }
    }

    @include respond(phone) {
        padding-top: sp_vw(27);
        padding-bottom: sp_vw(35);

        &__info {
            margin-bottom: sp_vw(25);

            &-ja {
                width: sp_vw(167);
                margin-bottom: sp_vw(10);
            }

            &-en {
                width: sp_vw(143);
                margin-bottom: sp_vw(10);
            }

            &-group {
                font-size: font_sp(11);
            }
        }

        &__nav {
            &-item {
                font-size: font_sp(12);

                &:not(:last-child){
                    margin-bottom: 1em;
                }
            }
        }

        &__right{
            flex-direction: column-reverse;
            justify-content: space-between;
        }

        &__phone {
            margin-bottom: sp_vw(6);

            &-text {
                font-size: font_sp(11);
                margin-bottom: sp_vw(11);
            }

            &-number {
                gap: sp_vw(9);
                font-size: font_sp(14);

                img {
                    width: sp_vw(20);
                }
            }
        }

        &__book {
            margin-bottom: 0;

            &-link {
                gap: sp_vw(3);
                font-size: font_sp(12);
                padding-left: sp_vw(3);

                img {
                    width: sp_vw(23);
                }
            }
        }

        &__group-logo {
            img{
                width: sp_vw(77);
            }
        }

    }

}