@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

.l-header {
    display: none; //トップでのみ表示
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 0;
    color: $color-white;

    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: min(((40/1300)* 100vw), 40px);
    }

    &__left {
        display: none;
    }

    &__right {
        flex: 0 1 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 18.37px;
    }

    &__text {
        margin-top: 46px;
        font-size: rem(21);
        letter-spacing: 0.1em;
        margin-right: min(calc((54/1300)* 100vw), 54px);
        line-height: 1.5;

        &-br {
            display: none;
        }
    }

    &__tel {
        margin-top: 25px;
        margin-right: min(calc((70/1300)* 100vw), 70px);

        dt {
            font-weight: 400;
            letter-spacing: 0.1em;
            font-size: rem(17);
            line-height: 1;
            margin-bottom: 7px;
        }

        dd {
            display: flex;
            align-items: center;
            font-size: rem(26);
            line-height: 1;
            padding-left: 0 !important;

            &::before {
                content: "";
                display: inline-block;
                width: 33px;
                height: 33px;
                background-image: url(../images/icon-tel@2x.png);
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 14px;
            }
        }
    }

    &.--fixed,
    &.--sticky {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        visibility: visible;
        background-color: $color-white;

        .l-header {
            &__left {
                display: block;
                flex: 0 0.5 446px;
            }

            &__right {
                color: $color-text-gray;
            }

            &__tel {
                dd {
                    &::before {
                        background-image: url(../images/icon-tel-b@2x.png);
                    }
                }
            }
        }
    }

    &.--sticky:not(.--fixed) {
        animation: slideDown 0.3s ease-in-out;
    }

    @include respond(tab-land) {

        &__inner {
            gap: 2em;
        }

        &__text {
            font-size: rem(16);
            margin-right: min(calc((30/1300)* 100vw), 54px);
            word-break: keep-all;
        }

        &__tel {
            margin-top: 25px;
            margin-right: min(calc((50/1300)* 100vw), 70px);

            dt {
                font-size: rem(15);
            }

            dd {
                font-size: rem(20);
                line-height: 1;

                &::before {
                    width: 25px;
                    height: 25px;
                    margin-right: 7px;
                }
            }
        }

    }

    @include respond(tab-port) {

        &__text {
            margin-top: 21px;
            font-size: rem(16);
            margin-right: min(calc((30/1300)* 100vw), 54px);

            &-br {
                display: block;
            }
        }

        &__tel {
            margin-right: min(calc((30/1300)* 100vw), 70px);

            dd {
                &::before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    @include respond(phone) {

        &__inner {
            padding-left: 20px;
            padding-right: 25px;
            padding-top: 35px;
            padding-bottom: 16px;
        }

        &__left {
            display: none;
        }

        &__right {
            width: 100%;
            justify-content: space-between;
            padding-bottom: 0px;
        }

        &__text {
            margin-top: 0px;
            font-size: rem(15);
            margin-right: 0;

            &-br {
                display: none;
            }
        }

        &__tel {
            display: none;
        }

        &.--sticky,
        &.--fixed {

            .l-header {
                &__inner {
                    padding-top: 16px;
                }

                &__left {
                    flex-shrink: 1;
                    display: block;
                    visibility: visible;
                    width: calc((290/414) * 100%);

                    img {
                        width: 100%;
                    }
                }

                &__right {
                    flex: 0 0 36px;
                    width: 36px;

                }

                &__text {
                    display: none;
                }
            }
        }

    }

}