@use "../foundation/variables" as *;
@use "../foundation/mixins" as *;

// lazyblockエディタ表示
.editor-styles-wrapper{
    [data-type*="lazyblock"]{
        padding: 0;
        box-shadow: 0 0 0 1px violet;
        background-color: transparent;
    }
}


// / lightbox

.c-gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    column-gap: min(calc((30/1000)* 100vw), 30px) !important;
    row-gap: min(calc((50/1000)* 100vw), 50px) !important;

    @include respond(phone) {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.c-gallery {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-block: calc(9px + var(--lending-trim));
        padding-inline: 11px;
        line-height: 1.5;
        font-size: rem(17);
        background-color: rgba(0, 0, 0, 0.4);
        color: $color-white;
    }

    @include respond(phone) {
        &__text {
            font-size: rem(14);
            padding-inline: 0.5em;
        }
    }

}

// 病院情報テーブル
// .c-info-table {
//     td {
//         border: none;
//         padding: 0;
//         line-height: calc(36/19);
//     }

//     td:first-child {
//         color: $color-primary;
//         text-align-last: justify;
//         width: 6.5em;
//         padding-right: 1.5em;
//     }

//     td strong {
//         font-weight: 400;
//         color: $color-primary;
//     }

//     td.low {
//         line-height: calc(36/19);
//     }

//     &--secondary {
//         tr:last-child {
//             td {
//                 line-height: calc(36/19);
//             }
//         }
//     }
// }

.c-info-list {
    display: table;

    dt,
    dd {
        display: table-cell;
        padding: 0;
        line-height: 2;
    }

    dt {
        color: $color-orange-dark;
        width: 7.5em;
        padding-right: 1em;
        font-weight: 400;
    }

    dd{
        >p{
            margin-bottom: 5px !important;
        }
    }

}

// 勤務情報テーブル
.c-work-calendar {
    border: solid 1px #a77a5f;
    border-collapse: collapse;

    th,
    td {
        line-height: 1;
        border: solid 1px #a77a5f;
        vertical-align: middle;
    }

    th:first-child,
    td:first-child {
        background-color: $color-orange-dark;
    }

    thead {
        th {
            padding-block: 9.6px;
            font-weight: 400;
            text-align: center;
            font-size: rem(18);
            color: #a77a5f;
        }
    }

    tbody {
        th {
            font-size: rem(18);
            color: $color-white;
            padding-inline: 13px;
            letter-spacing: 0.1em;
            padding-block: 9px;
            white-space: nowrap;
            font-weight: 400;
        }

        td {
            font-size: rem(29);
            width: rem(37);
            color: $color-orange-dark;
            text-align: center;
        }
    }

    tr[data-selected-days*="sun-c"] th:nth-child(2),
    tr[data-selected-days*="mon-c"] th:nth-child(3),
    tr[data-selected-days*="tue-c"] th:nth-child(4),
    tr[data-selected-days*="wed-c"] th:nth-child(5),
    tr[data-selected-days*="thu-c"] th:nth-child(6),
    tr[data-selected-days*="fri-c"] th:nth-child(7),
    tr[data-selected-days*="sat-c"] th:nth-child(8),
    tr[data-selected-days*="sun-c"] td:nth-child(2),
    tr[data-selected-days*="mon-c"] td:nth-child(3),
    tr[data-selected-days*="tue-c"] td:nth-child(4),
    tr[data-selected-days*="wed-c"] td:nth-child(5),
    tr[data-selected-days*="thu-c"] td:nth-child(6),
    tr[data-selected-days*="fri-c"] td:nth-child(7),
    tr[data-selected-days*="sat-c"] td:nth-child(8) {
        background-color: #CCCCCC;
    }

    @include respond(phone) {
        width: 100%;
        max-width: 345px;

        thead {
            th {
                padding-block: min(calc((7/414) * 100vw), rem(7));
                font-size: min(calc((14/414) * 100vw), rem(14));
            }
        }

        tbody {
            th {
                font-size: min(calc((15/414) * 100vw), rem(15));
                padding-inline: min(calc((7/414) * 100vw), rem(7));
                padding-block: min(calc((8/414) * 100vw), rem(8));
                ;
            }

            td {
                font-size: min(calc((23/414) * 100vw), rem(23));
                width: min(calc((29/414) * 100vw), rem(29));
            }
        }
    }
}

.c-map {
    max-width: 100%;
    height: auto;
    aspect-ratio: 440/500;
    margin-bottom: 30px;

}


//丸付きリスト
.c-circle-list {

    >li {
        font-size: $font-small;
        display: flex;
        align-items: flex-start;
        gap: 0.8em;
        &::before {
            content: "●";
            font-size: 0.66em;
            flex-shrink: 0;
            color: var(--bullet-color);
            transform: translateY(0.5em);
        }
    }
}

// 波線区切り
.wp-block-lazyblock-wave-divider-up,
.wp-block-lazyblock-wave-divider-down{
    position: relative;
    z-index: 10;
}
.wp-block-lazyblock-wave-divider-up{
    transform: translateY(1px);
}
.wp-block-lazyblock-wave-divider-down{
    transform: translateY(-1px);}



