@mixin respond($breakpoint){
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1300px){ @content}; 
    };
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px){ @content}; 
    };
    @if $breakpoint == phone {
        @media only screen and (max-width: 767px){ @content}; 
    };
    @if $breakpoint == small {
        @media only screen and (max-width: 375px){ @content}; 
    };
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 1600px){ @content}; 
}
}

@function rem($size) {
    @return ($size / 16) * 1rem;
}

@function font_pc($px) {
    $viewport: 1282;
    $base: 16; // ブラウザの基本フォントサイズ
    $vw: (
        $px / $viewport) * 100dvw;
    $rem: $px / $base * 1rem;
    @return clamp(rem(11), $vw, $rem);
}

@function font_sp($px) {
    $viewport: 415;
    $base: 16;
    $vw: (
        $px / $viewport) * 100dvw;
    @return max($vw, rem(11));
}

@function pc_vw($px) {
    $viewport: 1282;
    $base: 16; // ブラウザの基本フォントサイズ
    $vw: (
        $px / $viewport) * 100dvw;
    $rem: $px / $base * 1rem;
    @return min($vw, $rem);
}

@function sp_vw($px) {
    $viewport: 415;
    @return ($px / $viewport) * 100dvw;
}
