@charset "utf-8";

@use "../../foundation/base" as *;
@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;

.p-mv{
    background-image: url(../../../images/blog/mv@2x.jpg);


    @include respond(phone){
        background-image: url(../../../images/blog/mv-sp@2x.jpg);
    }
}


.p-content{
    background-color: $color-secondary;
    padding-top: 85.6px;
    padding-bottom: 77px;
    color: $color-white;
}

.p-heading-secondary{
    margin-bottom: calc(74px + var(--lending-trim));
}

