<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('inc/_head', { site: site, page: pages.home, basePath: '' }) %>
        <link rel="stylesheet" href="assets/css/project/home/style.css">
</head>


<body>
    <%- include('inc/_header', { basePath: '' }) %>
        <main class="l-main">
            <dl class="c-info-list">
                <div class="c-info-list__row">
                    <dt>名称</dt>
                    <dd>桜新町動物医療センター<br>（旧 桜新町動物病院）</dd>
                </div>
                <div class="c-info-list__row">
                    <dt>予約</dt>
                    <dd><span>必要ありません。直接ご来院ください。</span>
                        ※ペットホテルのみ予約が必要です。</dd>
                </div>
            </dl>

            <a href="#" class="c-button --secondary">
                その他のお知らせ（一覧）
            </a>

            <h2 class="c-section-title --bird1">
                当院の特徴
            </h2>
            <h2 class="c-section-title --bird2">
                病院概要
            </h2>
            <h2 class="c-section-title --bird3">
                お知らせ
            </h2>
            <h2 class="c-section-title --bird4">
                グループ病院紹介
            </h2>
            <h2 class="c-section-title --bird5">
                スタッフ紹介
            </h2>
            <h2 class="c-section-title --bird6">
               施設紹介
            </h2>
            <h2 class="c-section-title --bird7">
                予防医療
             </h2>
            <h2 class="c-section-title --bird8">
                診療科紹介
             </h2>
        </main>
        <%- include('inc/_footer', { basePath: '' }) %>


        
</body>

</html>



{{#compare shape "===" "wave_up_1"}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 262.79" class="u-pc"><g><path fill="{{color_back}}" d="M0,251.4v-14.53c52.1,10.48,135.44,21.68,171.96-18.53,46.33-51.01,127.99-70.3,233.97-55.94s160.6-50.57,236.19-80.38c75.59-29.81,135.66-23.41,209.51,5.56s178.69,49.43,305.59,12.6c92.27-26.78,166.33-63.14,208.78-70.86v222.09H0Z"/><path fill="{{color_front}}" d="M0,262.79v-87.81c52.86-15.71,109.84-29.71,157.42-34.08,117.14-10.74,195.75,43.87,237.37,69.84,41.62,25.97,168.01,31.34,280.52-18.8,112.52-50.14,178.8-45.67,269.73-40.29,90.94,5.37,121.77-16.12,152.59-39.4,30.83-23.28,95.56-92.23,172.63-107.45,40.25-7.95,72.08-4.91,95.74.96v257.03s-1366,0-1366,0Z"/></g></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414 125.48" class="u-sp"><g><path fill="{{color_back}}" d="M359.53,38.36c-76.14,22.1-136.5,10.94-182.04-2.93-44.33-13.5-80.37-16.53-125.71-3.34-18.47,5.37-35.14,12.76-51.78,22.16v71.23h414V20.1c-16.54,6.13-34.81,12.56-54.47,18.26Z"/><path fill="{{color_front}}" d="M323.77,45.61c-18.5,13.97-48.95,28.24-103.51,25.02-54.56-3.22-82.37-7.29-149.88,22.8-23.28,10.37-47.55,16.79-70.38,20.1v11.96h414V0c-40.29,13.42-73.54,33.01-90.23,45.61Z"/></g></svg>{{/compare}}{{#compare shape "===" "wave_up_2"}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 264.06" class="u-pc"><g><path fill="{{color_back}}" d="M1366,249.52V0c-46.38,26.81-107.97,47.69-186.82,44.93-152.49-5.34-328.45,29.83-398.83,67.06-70.38,37.24-170.09,95.16-369.5,43.44-199.41-51.72-266.86-47.58-363.64,8.27C30.21,173.53,14.44,182.38,0,190.31v59.2s1366,0,1366,0Z"/><path fill="{{color_front}}" d="M955.15,75.86c-199.41-51.72-299.12,6.21-369.5,43.44-70.38,37.24-246.33,72.4-398.83,67.06C107.97,183.61,46.38,204.49,0,231.3v32.76s1366,0,1366,0V40.99c-14.44,7.93-30.21,16.79-47.21,26.6-96.77,55.85-164.22,59.99-363.64,8.27Z"/></g>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414 129.94" class="u-sp"><g><path fill="{{color_back}}" d="M241.41,38.7c-42.23,22.34-102.05,57.09-221.7,26.06-6.82-1.77-13.38-3.42-19.71-4.98v61.42h414V0c-71.47,5.38-140.42,21.68-172.59,38.7Z"/><path fill="{{color_front}}" d="M346.29,17.02c-119.65-31.03-179.47,3.72-221.7,26.06C99.73,56.23,52.94,68.95,0,76.54v53.4h414V32.52c-19.5-3.6-41.74-8.76-67.71-15.49Z"/></g>
</svg>
{{/compare}}
{{#compare shape "===" "wave_up_3"}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 264.3" class="u-pc">
  <g>
    <path fill="{{color_back}}" d="M0,254.3v-40.9c52.86-13.38,109.01-32.24,156.59-35.95,117.14-9.15,183.43-8.23,238.19,2.03,46.32,8.68,168.01,26.69,280.52-16.01,112.52-42.7,178.8-38.89,269.73-34.31,90.94,4.58,121.77-13.73,152.59-33.55,30.83-19.83,95.56-78.54,172.63-91.5,40.25-6.77,72.08-4.18,95.74.82v249.39H0Z"/>
    <path fill="{{color_front}}" d="M1366,264.3V99.58c-67.1-22.77-164.18-42.71-317.71-25.77-196.52,21.69-368.63,135.54-549.52,165.29-167.74,27.58-283.69,16.46-498.77-53.44v78.65h1366Z"/>
  </g>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414 96.36" class="u-sp">
  <g>
    <path fill="{{color_back}}" d="M274.4,35.86c-67.51,25.62-140.52,14.81-168.31,9.61-26.63-4.99-57.81-6.3-106.09-3.69v48.59h414V14.22c-44.04-1.78-81.58-.38-139.6,21.64Z"/>
    <path fill="{{color_front}}" d="M168.48,81.24c-60.85,10.01-110.34,11.52-168.48,1.89v13.24h414V0c-84.56,25.49-163.54,67.76-245.52,81.24Z"/>
  </g>
</svg>
{{/compare}}

<!-- 下向き -->
{{#compare shape "===" "wave_down_1"}}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 254.3" class="u-pc">
    <g>
      <path fill="{{color_back}}" d="M1366,0v40.9c-52.86,13.38-109.01,32.24-156.59,35.95-117.14,9.15-183.43,8.23-238.19-2.03-46.32-8.68-168.01-26.69-280.52,16.01-112.52,42.7-178.8,38.89-269.73,34.31-90.94-4.58-121.77,13.73-152.59,33.55-30.83,19.83-95.56,78.54-172.63,91.5C55.49,256.98,23.65,254.39,0,249.39V0s1366,0,1366,0Z"/>
      <path fill="{{color_front}}" d="M0,0v154.72c67.1,22.77,164.18,42.71,317.71,25.77,196.52-21.69,368.63-135.54,549.52-165.29,167.74-27.58,283.69-16.46,498.77,53.44V0H0Z"/>
    </g>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414 138.96" class="u-sp">
    <g>
      <path fill="{{color_back}}" d="M0,0v138.96c40.94-11.12,74.78-41.4,91.66-52.26,18.5-11.9,36.99-22.88,91.56-20.13,54.56,2.75,94.33,5.03,161.84-20.59,23.01-8.73,46.66-13.23,68.94-15.16V0H0Z"/>
      <path fill="{{color_front}}" d="M0,0v100.2c32.34,4.11,71.94,5.02,121.27-.43,104.46-11.53,197.42-66.45,292.73-91.24V0H0Z"/>
    </g>
  </svg>
  {{/compare}}
  {{#compare shape "===" "wave_down_2"}}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 263.79" class="u-pc">
    <g>
      <path fill="{{color_back}}" d="M0,.1v263.69c40.58-29.51,159.28-97.34,269.26-90.29,134.03,8.6,267.49-12.13,351.54-57.75,70.67-38.36,133.88-87.22,334.35-39.79,175.71,41.58,245.28,38.34,363.64-8.27,18.27-7.2,32.77-18.67,47.21-26.6V.1H0Z"/>
      <path fill="{{color_front}}" d="M410.85,155.54c178.94,34.88,298.23-7.94,369.5-43.44,82.26-40.98,246.33-72.4,398.83-67.06,78.85,2.76,140.44-18.12,186.82-44.93V0S0,0,0,0v190.42c14.44-7.93,29.02-19.2,47.21-26.6,83.55-33.98,161.43-47.69,363.64-8.27Z"/>
    </g>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414 99.16" class="u-sp">
    <g>
      <path fill="{{color_back}}" d="M0,.06v99.1c30.99-13.77,79.5-35.18,116.22-37.64,85.89-5.75,136.84-3.39,187.27-30.76,26.81-14.55,65.33-21.15,110.51-24.54V.06H0Z"/>
      <path fill="{{color_front}}" d="M0,0v49.03c42.18-12.61,91.51-14.66,191.02,4.73,107.37,20.93,178.94-4.76,221.7-26.06.42-.21.85-.42,1.28-.62V0H0Z"/>
    </g>
  </svg>
  {{/compare}}
  {{#compare shape "===" "wave_down_3"}}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 247.3" class="u-pc">
    <g>
      <path fill="{{color_back}}" d="M1232.49,19.28c-77.07,18.04-104.03,60.79-134.86,88.37-30.83,27.58-61.65,53.05-152.59,46.68-90.94-6.37-157.22-11.67-269.73,47.74-112.52,59.41-238.91,53.05-280.52,22.28s-120.22-95.48-237.37-82.75c-47.57,5.17-104.56,21.76-157.42,40.38L.73,3.75,1365.9,1.1h0c-20.57,5.87-93.16,8.76-133.41,18.18Z"/>
      <path fill="{{color_front}}" d="M410.85,176.17c199.41,51.72,299.12-6.21,369.5-43.44,70.38-37.24,246.33-72.4,398.83-67.06,78.85,2.76,140.44-18.12,186.82-44.93V0S0,0,0,0v211.05c14.44-7.93,30.21-16.79,47.21-26.6,96.77-55.85,164.22-59.99,363.64-8.27Z"/>
    </g>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414 148.32" class="u-sp">
    <g>
      <path fill="{{color_back}}" d="M0,0v148.32c31.26-.7,68.57-8.56,103.63-27.08,67.51-35.65,107.28-32.46,161.84-28.64,54.56,3.82,73.06-11.46,91.56-28.01,11.81-10.57,31.93-34.37,56.97-53.02V0H0Z"/>
      <path fill="{{color_front}}" d="M0,0v116.09c84.06,9.39,131.47-17.84,166.66-36.45,42.23-22.34,147.8-43.44,239.3-40.24,2.72.09,5.4.14,8.05.14V0H0Z"/>
    </g>
  </svg>
  {{/compare}}