<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('inc/_head', { site: site, page: pages.home, basePath: '' }) %>
        <link rel="stylesheet" href="assets/css/project/home/style.css">
</head>

<body>
    <%- include('inc/_header', { basePath: '' }) %>
        <main class="l-main">
            <div class="swiper c-swiper">
                <div class="swiper-wrapper c-swiper__wrapper">
                    <div class="swiper-slide c-swiper__slide">
                        <picture>
                            <source srcset="assets/images/for-editor/mv1-sp@2x-100.jpg" media="(max-width: 767px)">
                            <img src="assets/images/for-editor/mv1@2x-100.jpg" alt="" class="c-swiper__img">
                        </picture>
                    </div>
                    <div class="swiper-slide c-swiper__slide">
                        <div class="swiper-slide c-swiper__slide">
                            <picture>
                                <source srcset="assets/images/for-editor/mv2-sp@2x-100.jpg" media="(max-width: 767px)">
                                <img src="assets/images/for-editor/mv2@2x-100.jpg" alt="" class="c-swiper__img">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <section class="p-news">
                <div class="l-container">
                    <div class="c-heading-secondary p-news__title">
                        <img src="../assets/images/logo-green.png" alt="" width="137" height="140">
                        <h2 class="c-heading-secondary__text --white">お知らせ</h2>
                        <p class="c-heading-secondary__sub --white">最新3件</p>
                    </div>
                    <div class="c-news">
                        <a href="single.html" class="c-news__link">
                            <article class="c-news__card">
                                <time datetime="2025-02-01" class="c-news__date">2025.02.01</time>
                                <h3 class="c-news__title">無料歯科検診のお知らせ</h3>
                                <div class="c-news__content">
                                    休診日は下記の通りとなります。<br>
                                    12/31（火）終日休診<br>
                                    1/1（水）終日休診<br>
                                    1/2（木）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/4（土）終日休診
                                </div>
                                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-news__img">
                            </article>
                        </a>
                        <a href="single.html" class="c-news__link">
                            <article class="c-news__card">
                                <time datetime="2025-02-01" class="c-news__date">2025.02.01</time>
                                <h3 class="c-news__title">無料歯科検診のお知らせ</h3>
                                <div class="c-news__content">
                                    休診日は下記の通りとなります。<br>
                                    12/31（火）終日休診<br>
                                    1/1（水）終日休診<br>
                                    1/2（木）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/4（土）終日休診
                                </div>
                                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-news__img">
                            </article>
                        </a>
                        <a href="single.html" class="c-news__link">
                            <article class="c-news__card">
                                <time datetime="2025-02-01" class="c-news__date">2025.02.01</time>
                                <h3 class="c-news__title">無料歯科検診のお知らせ</h3>
                                <div class="c-news__content">
                                    休診日は下記の通りとなります。<br>
                                    12/31（火）終日休診<br>
                                    1/1（水）終日休診<br>
                                    1/2（木）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/3（金）終日休診<br>
                                    1/4（土）終日休診
                                </div>
                                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-news__img">
                            </article>
                        </a>
                    </div>
                    <div class="u-align-center">
                        <a href="#" class="c-button --primary">その他のお知らせ（一覧）</a>
                    </div>
                </div>
            </section>
            <section class="p-blog">
                <div class="l-container">
                    <div class="c-heading-secondary p-blog__title">
                        <img src="../assets/images/logo-green-dark.png" alt="" width="137" height="140">
                        <h2 class="c-heading-secondary__text --green">ブログ一覧</h2>
                        <p class="c-heading-secondary__sub --green">最新3件</p>
                    </div>
                    <div class="c-blog">
                        <article class="c-blog__card">
                            <a href="news/single.html" class="c-blog__link">
                                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
                            </a>
                            <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
                            <div class="c-blog__content">
                                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
                            </div>
                            <a href="news/single.html" class="c-blog__link">
                                <p class="c-blog__more">>>続きを読む</p>
                            </a>
                        </article>
                        <article class="c-blog__card">
                            <a href="news/single.html" class="c-blog__link">
                                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
                            </a>
                            <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
                            <div class="c-blog__content">
                                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
                            </div>
                            <a href="news/single.html" class="c-blog__link">
                                <p class="c-blog__more">>>続きを読む</p>
                            </a>
                        </article>
                        <article class="c-blog__card">
                            <a href="news/single.html" class="c-blog__link">
                                <img src="../assets/images/news/news-img2.jpg" alt="" class="c-blog__img">
                            </a>
                            <h3 class="c-blog__title">無料歯科検診のお知らせ</h3>
                            <div class="c-blog__content">
                                わんちゃんや猫ちゃんの体にできものやしこり（体表腫瘤）を見つけたことはありませんか？
                            </div>
                            <a href="news/single.html" class="c-blog__link">
                                <p class="c-blog__more">>>続きを読む</p>
                            </a>
                        </article>
                    </div>
                    <div class="u-align-center">
                        <a href="#" class="c-button --primary">その他のブログ（一覧）</a>
                    </div>
                </div>
            </section>
        </main>
        <%- include('inc/_footer', { basePath: '' }) %>
</body>

</html>