:root {
  --color-gray: #737373;
  --color-gray-light: #e6e6e6;
  --color-white: #ffffff;
  --font-size-xsmall: clamp(10.5px, 0.656rem + ((1vw - 3.2px) * 0.384), 14px);
  --font-size-small: clamp(12px, 0.75rem + ((1vw - 3.2px) * 0.439), 16px);
  --font-size-medium: clamp(14px, 0.875rem + ((1vw - 3.2px) * 0.439), 18px);
  --font-size-large: clamp(16px, 1rem + ((1vw - 3.2px) * 0.439), 20px);
  --font-size-x-large: clamp(16px, 1rem + ((1vw - 3.2px) * 0.877), 24px);
  --font-size-xx-large: clamp(20px, 1.25rem + ((1vw - 3.2px) * 0.877), 28px);
  --lending-trim: calc((1em - 1lh) / 2);
}

@supports not (top: 1lh) {
  :root {
    --lending-trim: 0;
  }
}
.c-group {
  container-type: inline-size;
  width: 100%;
}
.c-group__map {
  position: relative;
  aspect-ratio: 1045/640.467;
  width: 100%;
  border: solid 4px var(--color-white);
  background: url("images/map-pc.jpg") no-repeat center/cover;
}
.c-group__map-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-group__map-item {
  line-height: 0;
  cursor: pointer;
}
.c-group__map-item-img {
  position: absolute;
  height: min(2.1684210526dvw, 1.93125rem);
  transform: translate(-50%, -50%);
}
.c-group__map-item-pin {
  position: absolute;
  width: min(1.1649122807dvw, 1.0375rem);
  transform: translate(-50%, -50%);
}
.c-group__map-item.--egota .c-group__map-item-img {
  top: 7.6514678326%;
  left: 18.1818181818%;
}
.c-group__map-item.--egota .c-group__map-item-pin {
  top: 11.2429731418%;
  left: 29.3779904306%;
}
.c-group__map-item.--asagaya .c-group__map-item-img {
  top: 21.5490318551%;
  left: 20.1913875598%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--asagaya .c-group__map-item-pin {
  top: 21.3928794503%;
  left: 19.2344497608%;
}
.c-group__map-item.--satellite .c-group__map-item-img {
  top: 15.45908807%;
  left: 2.3923444976%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--satellite .c-group__map-item-pin {
  top: 19.8313554029%;
  left: 18.3732057416%;
}
.c-group__map-item.--momiji .c-group__map-item-img {
  top: 32.7920049969%;
  left: 26.1244019139%;
}
.c-group__map-item.--momiji .c-group__map-item-pin {
  top: 28.2635852592%;
  left: 34.4497607656%;
}
.c-group__map-item.--honkomagome .c-group__map-item-img {
  top: 8.5883822611%;
  left: 65.0717703349%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--honkomagome .c-group__map-item-pin {
  top: 7.9637726421%;
  left: 64.2105263158%;
}
.c-group__map-item.--ichigaya .c-group__map-item-img {
  top: 33.5727670206%;
  left: 57.6076555024%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--ichigaya .c-group__map-item-pin {
  top: 33.5727670206%;
  left: 56.3636363636%;
}
.c-group__map-item.--mejiro .c-group__map-item-img {
  top: 7.1830106184%;
  left: 47.8468899522%;
}
.c-group__map-item.--mejiro .c-group__map-item-pin {
  top: 11.5552779513%;
  left: 41.5311004785%;
}
.c-group__map-item.--shinmejiro .c-group__map-item-img {
  top: 19.3628981886%;
  left: 50.2392344498%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--shinmejiro .c-group__map-item-pin {
  top: 20.1436602124%;
  left: 49.1866028708%;
}
.c-group__map-item.--otakibashi .c-group__map-item-img {
  top: 25.296689569%;
  left: 44.976076555%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--otakibashi .c-group__map-item-pin {
  top: 25.4528419738%;
  left: 44.019138756%;
}
.c-group__map-item.--gotokuji .c-group__map-item-img {
  top: 55.9025608994%;
  left: 17.7990430622%;
}
.c-group__map-item.--gotokuji .c-group__map-item-pin {
  top: 60.1186758276%;
  left: 26.2200956938%;
}
.c-group__map-item.--meguro-chuo .c-group__map-item-img {
  top: 83.0730793254%;
  left: 30.8133971292%;
}
.c-group__map-item.--meguro-chuo .c-group__map-item-pin {
  top: 87.4453466583%;
  left: 41.1483253589%;
}
.c-group__map-item.--setagaya .c-group__map-item-img {
  top: 93.5352904435%;
  left: 24.4019138756%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--setagaya .c-group__map-item-pin {
  top: 93.5352904435%;
  left: 22.8708133971%;
}
.c-group__map-item.--akasaka .c-group__map-item-img {
  top: 50.2810743285%;
  left: 60.2870813397%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--akasaka .c-group__map-item-pin {
  top: 50.4372267333%;
  left: 59.2344497608%;
}
.c-group__map-item.--motoazabu .c-group__map-item-img {
  top: 61.5240474703%;
  left: 59.3301435407%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--motoazabu .c-group__map-item-pin {
  top: 61.5240474703%;
  left: 58.0861244019%;
}
.c-group__map-item.--shirokane .c-group__map-item-img {
  top: 77.139287945%;
  left: 56.9377990431%;
  transform: translate(0%, -50%);
}
.c-group__map-item.--shirokane .c-group__map-item-pin {
  top: 77.6077451593%;
  left: 55.5023923445%;
}
@container (max-width: 767px) {
  .c-group__map {
    aspect-ratio: 355.9/267;
    border-width: 2px;
    background: url("images/map-sp.jpg") no-repeat center/cover;
  }
  .c-group__map-item-img {
    height: 3.3802816901cqw;
  }
  .c-group__map-item-pin {
    width: 1.7183098592cqw;
  }
  .c-group__map-item.--egota .c-group__map-item-img {
    top: 5.9880239521%;
    left: 18.5393258427%;
  }
  .c-group__map-item.--egota .c-group__map-item-pin {
    top: 10.1047904192%;
    left: 33.4269662921%;
  }
  .c-group__map-item.--asagaya .c-group__map-item-img {
    top: 19.6482035928%;
    left: 23.7359550562%;
  }
  .c-group__map-item.--asagaya .c-group__map-item-pin {
    top: 19.6482035928%;
    left: 22.4719101124%;
  }
  .c-group__map-item.--satellite .c-group__map-item-img {
    top: 14.5958083832%;
    left: 2.1629213483%;
  }
  .c-group__map-item.--satellite .c-group__map-item-pin {
    top: 18.1137724551%;
    left: 21.3483146067%;
  }
  .c-group__map-item.--momiji .c-group__map-item-img {
    top: 29.9401197605%;
    left: 29.4943820225%;
  }
  .c-group__map-item.--momiji .c-group__map-item-pin {
    top: 26.1976047904%;
    left: 39.0449438202%;
  }
  .c-group__map-item.--honkomagome .c-group__map-item-img {
    top: 7.1107784431%;
    left: 75%;
    transform: translate(0%, -50%);
  }
  .c-group__map-item.--honkomagome .c-group__map-item-pin {
    top: 7.1107784431%;
    left: 73.595505618%;
  }
  .c-group__map-item.--ichigaya .c-group__map-item-img {
    top: 31.0628742515%;
    left: 65.7303370787%;
    transform: translate(0%, -50%);
  }
  .c-group__map-item.--ichigaya .c-group__map-item-pin {
    top: 31.0628742515%;
    left: 64.3258426966%;
  }
  .c-group__map-item.--mejiro .c-group__map-item-img {
    top: 6.3622754491%;
    left: 53.0898876404%;
  }
  .c-group__map-item.--mejiro .c-group__map-item-pin {
    top: 10.4790419162%;
    left: 47.4719101124%;
  }
  .c-group__map-item.--shinmejiro .c-group__map-item-img {
    top: 18.3383233533%;
    left: 56.7415730337%;
    transform: translate(0%, -50%);
  }
  .c-group__map-item.--shinmejiro .c-group__map-item-pin {
    top: 18.7125748503%;
    left: 55.6179775281%;
  }
  .c-group__map-item.--otakibashi .c-group__map-item-img {
    top: 23.9520958084%;
    left: 51.404494382%;
    transform: translate(0%, -50%);
  }
  .c-group__map-item.--otakibashi .c-group__map-item-pin {
    top: 23.5778443114%;
    left: 50%;
  }
  .c-group__map-item.--gotokuji .c-group__map-item-img {
    top: 51.6467065868%;
    left: 19.6629213483%;
  }
  .c-group__map-item.--gotokuji .c-group__map-item-pin {
    top: 56.5119760479%;
    left: 29.4943820225%;
  }
  .c-group__map-item.--meguro-chuo .c-group__map-item-img {
    top: 81.2125748503%;
    left: 48.595505618%;
    transform: translate(0%, -50%);
  }
  .c-group__map-item.--meguro-chuo .c-group__map-item-pin {
    top: 81.2125748503%;
    left: 46.6292134831%;
  }
  .c-group__map-item.--setagaya .c-group__map-item-img {
    top: 86.8263473054%;
    left: 27.5280898876%;
  }
  .c-group__map-item.--setagaya .c-group__map-item-pin {
    top: 87.2005988024%;
    left: 25.8426966292%;
  }
  .c-group__map-item.--akasaka .c-group__map-item-img {
    top: 46.7814371257%;
    left: 67.9775280899%;
  }
  .c-group__map-item.--akasaka .c-group__map-item-pin {
    top: 47.1556886228%;
    left: 66.5730337079%;
  }
  .c-group__map-item.--motoazabu .c-group__map-item-img {
    top: 57.2604790419%;
    left: 67.1348314607%;
  }
  .c-group__map-item.--motoazabu .c-group__map-item-pin {
    top: 57.2604790419%;
    left: 66.2921348315%;
  }
  .c-group__map-item.--shirokane .c-group__map-item-img {
    top: 71.8562874251%;
    left: 64.3258426966%;
  }
  .c-group__map-item.--shirokane .c-group__map-item-pin {
    top: 71.8562874251%;
    left: 63.4831460674%;
  }
}
.c-group__suburbs {
  padding-inline: min(4dvw, 3.5625rem);
  padding-block: min(2.8070175439dvw, 2.5rem);
  border-top: none;
  border-inline: solid 4px var(--color-white);
  background-color: #d9d9d9;
}
.c-group__suburbs-title {
  margin-bottom: min(1.6842105263dvw, 1.5rem);
  font-size: var(--font-size-large);
  line-height: 1.75;
  letter-spacing: 0.24em;
}
.c-group__suburbs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: min(1.4736842105dvw, 1.3125rem);
}
.c-group__suburbs-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: min(0.701754386dvw, 0.625rem);
  cursor: pointer;
}
.c-group__suburbs-item::before {
  display: inline-block;
  flex-shrink: 0;
  width: min(1.0526315789dvw, 0.9375rem);
  height: var(--font-size-medium);
  background-image: url("images/map-pin1.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}
.c-group__suburbs-img {
  height: var(--font-size-medium);
}
.c-group__detail {
  display: flex;
  padding-inline: min(2.8070175439dvw, 2.5rem);
  padding-block: min(1.6842105263dvw, 1.5rem);
  gap: min(2.5263157895dvw, 2.25rem);
  border: solid 4px #FFF;
  background-color: var(--color-gray-light);
}
.c-group__detail-left {
  flex: 0 1 225px;
}
.c-group__detail-right {
  flex: 0 1 695px;
}
.c-group__detail-title {
  margin-bottom: calc(min(1.3333333333dvw, 1.1875rem) + var(--lending-trim));
  font-size: var(--font-size-large);
  line-height: 1.75;
  letter-spacing: 0.24em;
}
.c-group__detail-text {
  font-size: var(--font-size-small);
  line-height: 2;
  letter-spacing: 0.02em;
}
.c-group__detail-info {
  font-size: var(--font-size-small);
  line-height: 2;
  letter-spacing: 0.02em;
}
.c-group__detail-info-wrapper {
  display: flex;
  gap: 1em;
}
.c-group__detail-info-web a {
  color: #38acb5;
}
@container (max-width: 767px) {
  .c-group__title {
    margin-bottom: 18.8732394366cqw;
  }
  .c-group__text {
    margin-bottom: 9.5774647887cqw;
  }
  .c-group__suburbs {
    padding-top: 5.0704225352cqw;
    padding-bottom: 5.9154929577cqw;
    padding-inline: 5.0704225352cqw;
    border-inline: solid 2px var(--color-white);
  }
  .c-group__suburbs-title {
    margin-bottom: 3.9436619718cqw;
    font-size: 3.3802816901cqw;
  }
  .c-group__suburbs-list {
    grid-template-columns: 1fr;
    gap: 3.3802816901cqw;
  }
  .c-group__suburbs-item {
    gap: 1.6901408451cqw;
  }
  .c-group__suburbs-item::before {
    width: 2.2535211268cqw;
    height: 2.6197183099cqw;
  }
  .c-group__suburbs-img {
    height: 2.6197183099cqw;
  }
  .c-group__detail {
    flex-direction: column;
    padding-inline: 5.9154929577cqw;
    padding-block: 6.4788732394cqw;
    gap: 5.6338028169cqw;
    border-width: 2px;
  }
  .c-group__detail-left {
    flex: 0 1 auto;
  }
  .c-group__detail-left img {
    width: 50%;
  }
  .c-group__detail-right {
    flex: 0 1 auto;
  }
  .c-group__detail-title {
    margin-bottom: calc(3.661971831cqw + var(--lending-trim));
  }
}