@charset "utf-8";

@use "../../foundation/base" as *;
@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;


.p-content{
    background-color: $color-green;
    padding-top: 181px;
    padding-bottom: 88px;
    color: $color-white;
    position: relative;

    &::before{
        content: "";
        display: inline-block;
        width: 100vw;
        height: calc((140/1366) * 100vw);
        background-image: url(../../../images/news/wave-divider.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-99%);
        z-index: 0;
    }
}

.p-heading-secondary{
    margin-bottom: calc(76px + var(--lending-trim));
}

@include respond(phone){
    .p-content{
        padding-top: 40px;
        &::before{
            height: calc((59/414) * 100vw);
            background-image: url(../../../images/news/wave-divider-sp.svg);
        }
    }
}